/******General********/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    flex-direction: row;
}

.justifyContentSB {
    justify-content: space-between;
}

.alignItemsC {
    align-items: center;
}

.container {
    max-width: 310px;
    margin: 0 auto;
}

/*******Header********/
header{
    background-color: #0084fd;
    color: white;
    padding: 1rem 0;
}

header menu {
    display: none;
}