/******General********/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    flex-direction: row;
}

.justifyContentSB {
    justify-content: space-between;
}

.justofyContentC {
    justify-content: center;
}

.alignItemsC {
    align-items: center;
}

.container {
    max-width: 310px;
    margin: 0 auto;
}

.container2 {
    max-width: 310px;
    margin: 0 auto;
}

button {
    padding: 0.5rem;
    border-radius: 50px;
    border-style: none;
}

.card1,.card2 {
    width: 100%;
    background-color: #b5ddff;
    border-radius: 20px;
}

.positionAbsolute {
    position: absolute;
}

.positionRelative {
    position: relative;
}

.top0 {
    top: 0;
}

.right0 {
    right: 0;
}

.flexWrap {
    flex-wrap: wrap;
}

.textAlignC {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.rowGap1 {
    row-gap: 1rem;
}

/*******Header********/
header{
    background-color: #0084fd;
    color: white;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

header .menu {
    display: none;
    width: 40%;
}

header button {
    color: black;
    background-color: white;
}

/*******Tablet**********/
@media screen and (min-width: 750px) {
    .container{
        max-width: 750px;
    }

    .container2{
        max-width: 750px;
    }
    
}

/*******Desktop**********/
@media screen and (min-width: 1140px) {
    .container{
        max-width: 1140px;
    }

    .container2{
        max-width: 900px;
    }

    header .menu{
        display: block;
    }

    .hamburger{
        display: none;
    }
    
}

/*******Main********/

/****Demo (First Section)******/
.telefono > img {
    width: 100%;
    display: block;
}

#demo h3 {
    color: #0084fd;
    font-size: 20px;
    padding: 2rem;
}

#demo p {
    color: gray;
    padding: 0 2rem;
}

#demo button {
    margin: 2rem 0;
    background-color: #0084fd;
    color: white;
    padding: 0.5rem 2rem;
}

.card2 > i {
    color: #0084fd;
    font-size: 70px;
    padding-top: 1rem;
}

/*******Tablet**********/
@media screen and (min-width: 750px) {
    .card1 {
        width: calc((100% / 3) * 2 - 1rem);
    }

    .card2 {
        width: calc(100% / 3 - 1rem);
    }

    .rowGap1 {
       gap: 1rem; 
    }
    
    .telefono {
        width: 50%;
    }
}

/*******Desktop**********/
@media screen and (min-width: 1140px) {
    .card1 {
        width: calc((100% / 3) * 2 - 1rem);
    }

    .card2 {
        width: calc(100% / 3 - 1rem);
    }
    
    .rowGap1 {
        gap: 1rem; 
    }

    .telefono {
        width: 50%;
        display: flex;
    }

    .telefono > img {
        width: 50%;
        align-self: end;
    }

    .downloadApp {
        width: 50%;
    }
}

/****Development (second Section)******/
#development {
    background-color: #9792e4;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.fotoPlanning1 {
    width: 100%;
}

.fotoPlanning2 {
    width: 100%;
}

.fotoPlanning1 > img {
    width: 100%;
}

.fotoPlanning2 > img {
    width: 100%;
}

#development h3 {
    color: white;
    font-size: 24px;
    padding: 4rem 0;
}

.planning p {
    color: white;
}

.appDevelopment {
    background-color: white;
    border-radius: 20px;
}

.appDevelopment h4 {
    font-weight: 900;
    padding: 1rem 0;
}

.appDevelopment p {
    color: black;
    font-style: oblique;
    margin-bottom: 1rem;
}

.arrow {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #9792e4;
    margin: 1rem auto;
}

/*******Tablet**********/
@media screen and (min-width: 750px) {
    #development h3 {
        font-size: 50px;
    }
}

/*******Desktop**********/
@media screen and (min-width: 1140px) {
    .planning {
        width: calc(100% / 2 - 1rem);
    }

    .appDevelopment {
        width: calc(100% / 2 - 1rem);
        align-content: end;
    }

    .fotoPlanning2 {
        width: 70%;
        margin: 0 auto;
    }
}

/*****Testimonials******/
#testimonials {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#testimonials h5 {
    margin-bottom: 2rem;
}

#testimonials h2 {
    color: #9792e4;
    margin-bottom: 2rem;   
}

#testimonials p {
    margin-bottom: 2rem;
}

.profilo {
    width: 100%;
    background-color: #9792e4;
    border-radius: 40px;
    color: white;
    padding: 1rem;
}

.fotoProfilo {
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 1rem auto;
    background-position: center;
    background-size: cover;
}

#reynolds {
    background-image: url(../img/testimonial1.jpg);
}

#almeda {
    background-image: url(../img/testimonial2.jpg);
}

#roberts {
    background-image: url(../img/testimonial3.jpg);
}

/*******Tablet**********/
@media screen and (min-width: 750px) {
    .profilo {
        display: flex;
        align-items: center;
    }
}

/*******Desktop**********/
@media screen and (min-width: 1140px) {
    .profilo {
        display: flex;
    }

    .fotoProfilo {
        width: 30%;
    }
}

/******Benefits*******/
#benefits {
    background-color: #9792e4;
    padding-bottom: 4rem;
}

#benefits > .container > h2 {
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.square {
    width: 100%;
    background-color: white;
    color: gray;
    padding: 1rem;
    border-radius: 20px;
}

.number {
    color: #9792e4;
    font-size: 35px;
    font-weight: 700;
}

.square > h3 {
    color: #9792e4;
    font-size: 20px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.square > button {
    background-color: #9792e4;
    padding: 0.5rem 3rem;
    margin-top: 2rem;
}

/********tablet******/
@media screen and (min-width: 750px) {
    .square {
        width: calc(100% / 2 - 1rem);
    }

    #benefits > .container > h2 {
        font-size: 35px;
    }
    
    .number {
        font-size: 55px;
    }
}

/*******Desktop**********/
@media screen and (min-width: 1140px) {
    .square {
        width: calc((100% / 3) - 1rem);
    }
}

/*******AboutUs********/
#aboutUs {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#aboutUs h2 {
    color: #9792e4;
    font-size: 35px;
    padding-bottom: 3rem;
}

#aboutUs p {
    margin-bottom: 2rem;
}

.fotoAbout {
    color: #9792e4;
}

#about1 {
    background-image: url(../img/about.jpg);
    margin: 0;
}

.citation {
    font-size: 22px;
    font-weight: 700;
    margin-top: 2rem;
}

.fotoAbout > button {
    background-color: #9792e4;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
}

.positionAbsolute > i {
    font-size: 50px;
}

/******Tablet********/
@media screen and (min-width: 750px) {
    .textAbout {
        width: 60%;
        padding-right: 1rem;
    }
    .fotoAbout {
        width: 40%;
        padding-left: 1rem;
    }
    #aboutUs h2 {
        font-size: 55px;
    }
    #aboutUs p {
        line-height: 45px;
    }
    #about1 {
        width: 80%;
    }
    
}

/*******Desktop**********/
@media screen and (min-width: 1140px) {
    #about1 {
        width: 50%;
    }
}

/******Get Started********/
#getStarted {
    background-color: #9792e4;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: white;
}

#getStarted h5 {
    color: lightgray;
    font-weight: 100;
    margin-bottom: 2rem;
}

#getStarted h3 {
    font-weight: 700;
    font-size: 23px;
}

#getStarted h2 {
    color: #fdc15f;
    font-size: 44px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#getStarted button {
    padding: 1rem 3rem;
    color: #9792e4;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/******Tablet********/
@media screen and (min-width: 750px) {
    #getStarted h5 {
        font-style: 18px;
    }
    #getStarted h3 {
        font-size: 35px;
    }
    #getStarted h2 {
        font-size: 75px;
    }
    #getStarted button {
        padding: 2rem 4rem;
    }
    
}

